.title{
    font-size: 5em;
}
.gare{
    /* background-image: url("../img/gare.jpg");
    background-size: cover;
    height: 100%;

    border: 3px solid white; */
}
img{
    z-index: -1;
}

.test{
    z-index: 1
}
